<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <script src="/auth.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customer Management System</title>


</head>
<body>
<p id="error-message"></p>

  <form id="loginForm" >
    <label for="email" >Username:</label>
    <input type="text" id="email" name="email" required>
    <label for="password" >Password:</label>
    <input type="password" id="password" name="password" required>
    <button type="button" onclick="submitLoginForm()">Login</button>
  </form>

</body>
</html>
